name: Generate Space Invaders

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate space invaders from contributions
        uses: Platane/snk@v3
        with:
          github_user_name: PhanikiranNK
          outputs: |
            dist/space.svg?palette=github-dark&color_snake=#00f7ff

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
